@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import './utils/variables'; 
@import './base/reset';
@import './base/container';
@import './base/section';
@import './components/button';
@import './components/link.scss';
@import './components/logo';
@import './components/modal';
@import './section/header';
@import './section/hero';
@import './section/features';
@import './section/what-wedo';
@import './section/team';
@import './section/regular';
@import './section/portfolio';
@import './section/footer';