.hero__btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    text-align: center;
    letter-spacing: 0.06em;
    color:$white-color;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    background-color: $other-color;
    transition-property:color, background-color;
    transition-duration:250ms ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    &:hover,
    &:focus{
        background-color: darkblue;
        color: yellow;
    }

}




.footer-bttn{
    font-family: "roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    color: white;
    width: 200px;
    background-color:#2196F3;
    border-radius: 4px;
    border-color: #2196F3;
    box-shadow: 0, 0, 0, 0.15;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.bttn-svg{
    fill: white;
    margin-left: 15px; 

}

.form-bttn{ 
    font-family: "roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    padding: 10px 80px;
    color: white;
    background-color:#2196F3;
    border-radius: 4px;
    border-color: #2196F3;
    box-shadow: 0, 0, 0, 0.15;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatex(60%); 
    &:hover,
    &:focus{
    cursor: pointer;
    box-shadow:0px, 4px rgba(0, 0, 0, 0.15);
 }
 } 


 .modal-bttn-close{
    width: 30px;
    height:30px;
    background-color: white;
    border-radius: 50%;
    
    border-color:rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    margin-left: 5px;


    position: inherit;
    transform: translatex(1600%);
    &:hover,
    &:focus {
    cursor: pointer;
    border-color: #2196F3;
    
}

}

.modal-bttn-svg{
    fill: black;
    &:hover,
    &:focus{
    fill: #2196F3;
}

}

.portfolio-btn-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.06em;
    color: $main-text-color;
    cursor: pointer;
    border: none;
    border-radius:0px 0px 4px 4px ;
    background-color: $btn-bg-color;
    padding-left:27px;
    padding-right: 27px;
    padding-top: 6px;
    padding-bottom: 6px;
    transition-property:color, shadow, background-color;
    transition-duration:250ms ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    &:hover,
    &:focus{
    background-color: $other-color;
    color: $white-color;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  
}

}
