.nav__lnk{
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: $main-text-color;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    position: relative;
    transition-property:color;
    transition-duration:250ms ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}

.nav__lnk:focus,
.nav__lnk:hover{
    color: $other-color;
}
.nav__lnk--active{
    color: $other-color;
}
.nav__lnk--active::after{
    content: " ";
    display: block;
    width: 100%;
    height: 4px;
    background-color:$other-color ;
    border-radius: 2px;

    transform: translateY(800%);

}

.contact__header-lnk{
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: $secondary-text-color;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    position: relative;
    transition-property:color ;
    transition-duration:250ms ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}
.contact__header-lnk:hover,
.contact__header-lnk:focus{
    color: $other-color;
}


.team__circle{
    background-color: white;
    color: #AFB1B8;
    border-radius: 50%;
    height: 44px; 
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property:color, background-color;
    transition-duration:250ms ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}

.team__circle:hover{
    background-color: #2196F3;
    color: #ffffff;
}


.address__lnk{
    color: $white-color;
    font-style: normal;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    vertical-align: top;
 }

.address__link{
    font-style: normal;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    vertical-align: top;
    color:$footer-lnk-color;
 }

 .regular__rectangle{
    display: flex;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #AFB1BB;
    color: #AFB1B8;
    position: relative;
    transition-property:color, border-color;
    transition-duration:250ms ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}
 
.regular__rectangle:hover,
.regular__rectangle:focus{
   border-color: #2196F3;
   color: #2196f3;
} 
.socialmedia__circle{
    background-color: #212121;
    border-radius: 50%;
    height: 44px; 
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition-property:background-color;
    transition-duration:250ms ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}
.socialmedia__circle:hover{
    background-color: #2196F3;
}

