.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: calc(31 / 26 );
    letter-spacing: 0.03em;
    color: $other-color;
    margin-bottom: 10px;
    display: block;
}