.is-hidden{
    visibility: hidden;
    
}
@keyframes modal-animation {
    0%{
        scale: 0;
        opacity: 0;
    }

    50%{
        scale: .5;
        opacity: .5;
    }

    100%{
        scale: 1;
        opacity: 1;
    }   
}
.modal{
    position: absolute;
    width: 521px;
    height:581px ;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: modal-animation 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border-radius: 4px;
    box-shadow:0px 2px 1px rgba(0,0,0,0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);   
}

.modal-bg{
    position:fixed; ;
    top:0;
    left:0; 
    background-color:rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh
}
.modal__form{ 
    width: 448px;
    margin-left: 40px;
    margin-right: 40px;
   
}
 
.modal__title{  
    margin:40px 40px;
    font-family: "roboto";
    font-weight: 700;
    font-size: 20px;
    line-height: calc(22.7/20);
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}
.modal__label{
    margin-bottom: 10px;
}
.modal__name{
    font-family: "roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14.6/12);
    letter-spacing: 0.01rem;
    color: #757575;
    display: block;
    margin-bottom: 4px;
}

.modal__cont{
    display: block;
    position: relative;
}

.modal__input{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    width: 100%;
    cursor: pointer;
    padding: 11px 0 11px 40px;
    outline: none;    
    font-family: "roboto";
    &:hover,
    &:focus{
       border-color: #2196f3;
       outline: none;
    }
    &:hover + .modal-svg,
    &:focus + .modal-svg{
        fill: #2196F3;
}

}





.modal-svg{
    position: absolute;
    top: 14px;
    left: 14px;
    fill: #212121;
}
 .modal__textarea{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
    padding:12px 16px ;
    resize: none;
    margin-bottom: 20px;
}
.modal__textarea::placeholder{
    font-family: "roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: calc(14.06/12);
    color: #757575;
    &:focus{
        border-color:#2196F3;
        outline: none;
    }
}

.chckbx-cont{
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    border-radius: 4px;
    margin-right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.chckbx{
    display: flex;
    align-items: center;
    font-family: "roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    margin-left: 8px;
    color: #757575;
}

.chckbx-svg{
    fill: white;
}

            
.modal-chkbx:checked + .chckbx >.chckbx-cont{
    background-color: #2196F3;
    border: none;
}
 