.address__item:not(:last-child){
    margin-bottom: 2px;
}

.footer{
    background-color: $dark-bg-color;
    color: $secondary-text-color;
    display: flex;
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}
.socialmedia{
    margin-left: 70px;
}
.socialmedia__header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: left;
    letter-spacing: 0.03em;
    color: white;
    margin-bottom: 20px;

}
.socialmedia__list{
    display: flex; 
    align-items: baseline;    
    justify-content: center;
}
.socialmedia__item:not(:last-child){
    margin-right: 10px;
}
.foot-svg-fill{
    fill: currentColor;
}
.footer-social-margin{
    margin-left: 10px;
}
.footer-social-icons{
    display: flex;

}
.footer__container{
    display: flex;
    align-items: baseline;
}

.form{
    margin-left:70px ;
  
}
.form__header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: left;
    letter-spacing: 0.03em;
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase;

}
.form__input{
    background-color: $dark-bg-color;
       
}
.form__item{
    display: flex;
    width: 100%;   
}

.form__input{
    font-family: "roboto";
    width: 358px;
    font-size: 16px;
    font-weight: 400;
    line-height: calc(20/16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255,0.6);
    padding: 11px 0 11px 10px;
    border: 1px solid #757575;
    border-radius: 4px;
    margin-right: 12px;
}

.form__input:hover,
.form__input:focus{
    outline: none;
    border-color: #2196F3;
}

.form__input::placeholder{
    font-family: "roboto";
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);


}
    

