.portfolio-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    
}
.portfolio-list-item:not(:last-child){
    margin-right: 8px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $white-color;
       
}


.cards__des{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);  
    letter-spacing: 0.06em;
    color: $main-text-color; 
    text-align: left;
    padding: 0;
    padding: 20px 24px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $white-color;
       
}


.cards__des{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);  
    letter-spacing: 0.06em;
    color: $main-text-color; 
    text-align: left;
    padding: 0;
    padding: 20px 24px;
}

.cards__text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    text-align: left;
    margin: 0 24px;
    padding: 0;
    margin-bottom: 24px;
}
.cards__discription{
    border-bottom:1px solid #eee ;
    border-left:1px solid #eee ;
    border-right:1px solid #eee;
}
.cards__list:hover,
.cards__list:focus{
    box-shadow: 0px 1px 1px rgba(0,0,0,0.12),
     0px 4px 4px rgba(0, 0, 0, 0.06),
     1px 4px 6px rgba(0, 0, 0, 0.16);
   
}

.cards__list:hover .cards__ovarlay,
.cards__list:focus .cards__ovarlay{
    cursor: pointer;
    transform: translateY(0);
}

.cards__item{
    position: relative;
    overflow: hidden;
}

.cards__ovarlay{
    font-family:"roboto";
    color: white;
    font-size:18px;
    line-height: calc(28/18);
    letter-spacing: 0.03rem;
    width: 370PX;
    height: 290PX;
    padding:63px  24px  91px  24px; ;
    background-color: rgba(33, 150, 243, 0.9);


    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateY(100%);
    transition:transform 250ms  cubic-bezier(0.4, 0, 0.2, 1) ;
    
}



.cards__list:nth-child(-n + 3){
    margin-bottom: 30px;
}
.cards__list:nth-last-child(-n + 3){
    margin-top: 30px;
}

