.regular-cust-heading{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;  
}

.regular{
    display: flex;
}
.regular__item{
    margin-right: 30px;
}
.regular-cust-svg{
    fill:currentColor;
}