.team-header{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;
    color: $main-text-color;
    margin-bottom: 50px;
}
.team--bg{
    background-color: #F5F4FA;
}
.team{
    display: flex;
}
.team__item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
    background-color: $white-color;
    
}
.team__item:not(:last-child){
    margin-right: 30px;
}
.team__des{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(19/16); 
    letter-spacing: 0.03em;
    color: $main-text-color;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    
}
.team__text{ 
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    margin-bottom: 16px;
    text-align: center;
}
.team-smedia-svg{
    fill: currentColor;
}


.team__icons{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.team__social:not(:last-child){
    margin-right: 10px;
}
