:root{
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --other-color: #2196f3;
    --white-color: #ffffff;
    --dark-bg-color:  #2f303a;
    --light-bg-color: #f5f4f4;
    --btn-bg-color:#f5f4fa;
    --footer-lnk-color:rgba(255, 255, 255, 0.6);  
}